# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# IDE
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Asset Store
Assets/AssetStoreTools*
